<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ArquivoPDF" value="C:\\Teste\\PDF_Teste.pdf"/>
		<add key="Destino_Planilha" value="C:\\Teste\\"/>
		<add key="Destino_SALARIO_BASE" value="C:\\Teste\\SalarioBASE\\"/>
		<add key="Destino_INSS_Proc" value="C:\\Teste\\INSS_Proc\\"/>
		<add key="Destino_Insalubridade" value="C:\\Teste\\Insalubridade"/>
		<add key="Destino_Periculosidade" value="C:\\Teste\\Periculosidade"/>
	</appSettings>
</configuration>